/* Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bc4749; /* Cambia este color de fondo según tu preferencia */
    color: #fff;
    padding: 10px;
  }
  
  .navbarTitle {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
  }
  
  .navbarButton {
    background-color: #fff;
    color: #bc4749;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbarButton:hover {
    background-color: #6a994e;
    color: #fff;
  }
  